html, body {
  margin: 0;
  background-color: #484349;
}

nav#primary {
  width: 100%;
  display: inline-block;
  position: relative;
  height: 40px;
  background-color: #D17B0F;
}

nav#primary ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav#primary ul li {
  float: left;
}

nav#primary img {
  display: block;
  position: absolute;
  height: 100%;
  aspect-ratio: 1;
}

#content {
  width: 400px;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#wordle {
  width: 100%;
  aspect-ratio: 1;
  text-transform: uppercase;
  font-family: "Source Code Pro";
  font-size: 40px;
  font-weight: bold;
}

.row {
  width: 100%;
  height: 72px;
  text-align: center;
  line-height: 66px;
}

.row:not(.cell.first) {
  margin-top: 10px;
}

.cell {
  height: calc(100% - 4px);
  aspect-ratio: 1;

  float: left;

  border: 1px solid #bebebe;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 2px 1px;

  color: #FFFFFF;

  transition: all linear 0.4s;
  transition-property: color, background-color;
}

.cell:hover {
  cursor: pointer;
}

.cell:not(.row.first) {
  margin-left: 10px;
}

.cell.selected {
  border: 1px solid red;
}

.cell.correct {
  background-color: #109648;
}

.cell.mispositioned {
  background-color: #197BBD;
}

.cell.incorrect {
  background-color: #9D9D9D;
}
